<button *ngIf="showButton" (click)="scrollToTop()" class="back-to-top">↑</button>



<!--Ik probeer een back to top button te maken die verschijnt wanneer de gebruiker naar beneden scrollt. -->
<!--Ik heb een functie scrollToTop() die de gebruiker naar de top van de pagina brengt. -->
<!--Ik wil dat de button verschijnt wanneer de gebruiker naar beneden scrollt en verdwijnt wanneer de gebruiker naar boven scrollt. -->
<!--Ik heb geprobeerd om de button te laten verschijnen en verdwijnen met behulp van een boolean showButton. -->
<!--Ik heb geprobeerd om de waarde van showButton te veranderen wanneer de gebruiker naar beneden of naar boven scrollt. -->
<!--Het werkt maar het is nog een beetje slordig. -->
<!-- Overleg nog over kleuren -->


