<div class="container">
    <div class="row">
      <div class="col">
        <form action="/nl/nl/s/" method="get" role="search" aria-label="" id="siteSearch" class="js-search-form">
          <div class="input-group">
            <input id="searchfor" name="searchtext" type="text" value="" maxlength="75" autocorrect="off" spellcheck="false" autocomplete="off" autocapitalize="off" placeholder="Waar ben je naar op zoek?" class="form-control">
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary" aria-label="Zoeken">
                <svg version="1.1" viewBox="0 0 24 24" aria-hidden="true" class="svg-inline--bi bi-search-vi bi-lg">
                  <path d="/"></path>
                </svg>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>